@use '../atoms/colors' as color;
@use '../atoms/text_styles' as text;
@use '../atoms/shadows' as shadow;
@use '../atoms/global';

@mixin setColorScheme($background, $text, $border) {
  background-color: $background;
  color: $text;
  border: 2px solid $border;
}

.button {
  @include global.inlineFlexCenter;
  @include shadow.button;
  padding: 12px 24px;
  border-radius: 4px;
  user-select: none;
  cursor: pointer;

  &__icon {
    margin-right: 10px;
    max-width: 12px;
  }

  &__text {
    @include text.button;
  }

  &:hover {
    transform: translateY(-2px);
  }

  transition: color global.$animation-duration global.$easing,
  background-color global.$animation-duration global.$easing,
  border-color global.$animation-duration global.$easing,
  box-shadow global.$animation-duration global.$easing,
  transform global.$animation-duration global.$easing;
}

.button_download {
  @include setColorScheme(color.$neutral-1, color.$white, color.$neutral-1);

  &:hover {
    background-color: color.$black;
    border-color: color.$black;
    @include shadow.button-hover;
  }
}

.button_link {
  @include setColorScheme(color.$white, color.$accent, color.$accent);

  &:hover {
    color: color.$accent-hover;
    border-color: color.$accent-hover;
    @include shadow.button-hover;
  }
}