@use "../atoms/colors.scss" as color;
@use "../atoms/global.scss";
@use "../atoms/shadows.scss" as shadow;
@use "../atoms/breakpoints.scss";

.color-picker {
    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        margin-right: -16px;
        margin-bottom: -24px;

        @media (max-width: breakpoints.$desktop) {
            max-width: 390px;
            justify-content: center;
            margin-right: -24px;
        }
    }

    &__button {
        @include global.flex-center;
        @include shadow.color-inner;
        margin-right: 16px;
        margin-bottom: 24px;
        width: 32px;
        height: 32px;
        border-radius: 7px;
        cursor: pointer;
        user-select: none;

        transition: transform global.$animation-fast global.$easing,
            background-color global.$animation-fast global.$easing;

        @media (max-width: breakpoints.$desktop) {
            width: 56px;
            height: 56px;
            margin-right: 24px;
        }
    }

    &__icon {
        opacity: 0;
        font-size: 20px;
        color: color.$white;

        transition: color global.$animation-fast global.$easing, opacity global.$animation-fast global.$easing;

        @media (max-width: breakpoints.$desktop) {
            font-size: 32px;
        }
    }
}

.color-picker__icon_black {
    color: color.$neutral-1;
}

.color-picker__button_active {
    transform: scale(0.8);

    .color-picker__icon {
        opacity: 1;
    }
}
