@use "../atoms/colors.scss" as color;
@use "../atoms/text_styles.scss" as text;
@use "../atoms/global.scss";

.logo {
    &__wrapper {
        @include global.inline-flex-center;

        &:hover {
            opacity: 0.7;
        }

        transition: opacity global.$animation-duration global.$easing;
    }

    &__image {
        margin-right: 14px;
        user-select: none;
    }

    &__text {
        @include text.logo;
        color: color.$neutral-1;
    }

    &__tagline {
        @include text.secondary;
        color: color.$neutral-2;
        margin-top: 12px;
    }
}