@use "../atoms/colors" as color;
@use "../atoms/text_styles" as text;
@use "../atoms/global";
@use "../atoms/breakpoints.scss";

.type-picker {
  width: 100%;
  max-width: 400px;

  &__wrapper {
    @include global.flex-center;
  }

  &__button {
    @include global.flex-center;
    padding: 6px 24px;
    min-height: 36px;
    width: 50%;
    cursor: pointer;
    user-select: none;
    color: color.$neutral-1;
    background-color: color.$white;
    box-shadow: inset 0 0 0 1px color.$neutral-3;

    &:first-child {
      border-radius: 4px 0 0 4px;
    }

    &:last-child {
      border-radius: 0 4px 4px 0;
    }

    &:hover {
      color: color.$accent;
    }

    transition: box-shadow global.$animation-duration global.$easing;
  }

  &__text {
    @include text.select;
    transition: color global.$animation-duration global.$easing;
  }

  @media (max-width: breakpoints.$mobile) {
    max-width: none;
  }
}

.type-picker__button_active {
  color: color.$accent;
  border-color: color.$accent;
  box-shadow: inset 0 0 0 2px color.$accent;
}
