@use "../atoms/global.scss";
@use "../atoms/breakpoints.scss";

.main-layout {
    margin-left: global.$sidebar-width;

    &__row > * {
        @include global.row-gap(24px);
    }

    &__row.mobile-only {
        @include global.column-flex-center;
    }

    &__row_padding {
        padding-left: 16px;
        padding-right: 16px;
    }

    @media (max-width: breakpoints.$desktop) {
        margin-left: 0;
        padding-top: 32px;

        &__row {
            @include global.row-gap(48px);

            @media (max-width: breakpoints.$mobile) {
                @include global.row-gap(40px);
            }
        }
    }

    &__share {
        padding-top: 32px;
    }

    &__bottom-info {
        margin-bottom: 0;
    }
}
