@use "../atoms/colors" as color;
@use "../atoms/text_styles" as text;
@use "../atoms/global";

.sidebar {
    max-width: global.$sidebar-width;
    border-right: 1px solid color.$neutral-4;
    background-color: color.$white;
    position: fixed;
    overflow: auto;
    height: 100%;

    &__wrapper {
        padding: 28px 24px 150px;
    }

    &__row {
        @include global.row-gap(64px);

        &_logo {
            margin-bottom: 42px;
        }
    }
}
