@use "breakpoints.scss";

$animation-duration: 0.2s;
$animation-fast: 0.09s;
$easing: ease;
$sidebar-width: 300px;

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin inline-flex-center {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

@mixin column-flex-center {
  display: flex;
  align-items: center;
  flex-direction: column;
}

@mixin row-gap($gap) {
  margin-bottom: $gap;
  &:last-child {
    margin-bottom: 0;
  }
}
@mixin column-gap($gap) {
  margin-right: $gap;
  &:last-child {
    margin-right: 0;
  }
}
@mixin desktop-only {
  @media (max-width: breakpoints.$desktop) {
    display: none;
  }
}
@mixin mobile-only {
  @media (min-width: (breakpoints.$desktop + 1)) {
    display: none;
  }
}