@use 'breakpoints' as break;

@function toRem($value) {
  $remValue: ($value / 16) + rem;
  @return $remValue;
}

@mixin primary {
  font-size: toRem(16);
  font-weight: 400;
  line-height: toRem(24);
}

@mixin secondary {
  font-size: toRem(14);
  font-weight: 400;
  line-height: toRem(28);
}

@mixin small {
  font-size: toRem(12.8);
  font-weight: 400;
  line-height: toRem(25.6);
}

@mixin button {
  font-size: toRem(14);
  font-weight: 700;
  line-height: toRem(24);
}

@mixin select {
  font-size: toRem(12);
  line-height: toRem(14);
  text-transform: uppercase;
  letter-spacing: 0.04em;
  font-weight: 700;
}

@mixin logo {
  font-size: toRem(18);
  font-weight: 700;
  letter-spacing: 0.01em;
  line-height: toRem(22);
  font-family: "Montserrat", sans-serif;
}

@mixin h1 {
  font-size: toRem(32);
  font-weight: 700;
  line-height: toRem(42);
  font-family: "Montserrat", sans-serif;
  @media (max-width: break.$mobile) {
    font-size: toRem(24);
    line-height: toRem(29);
  }
}

@mixin h2 {
  font-size: toRem(32);
  font-weight: 400;
  line-height: toRem(48);
  @media (max-width: break.$mobile) {
    font-size: toRem(22);
    font-weight: 400;
    line-height: toRem(33);
  }
}

@mixin h3 {
  font-size: toRem(16);
  font-weight: 700;
  line-height: toRem(16);
}