@use "../atoms/colors.scss" as color;
@use "../atoms/global.scss";
@use "../atoms/breakpoints.scss";

.footer {
    width: 100%;

    &__wrapper {
        @include global.flex-center;
        border-top: 1px solid color.$neutral-4;
        max-width: 215px;
        margin: 0 auto;
        padding: 28px 0;

        & > * {
            @include global.column-gap(16px);
        }

        @media (max-width: breakpoints.$mobile) {
            padding-bottom: 80px;
        }
    }

    &__link {
        user-select: none;

        &:hover {
            opacity: 0.65;
            transform: translateY(-2px);
        }

        transition: opacity global.$animation-duration global.$easing,
            transform global.$animation-duration global.$easing;
    }

    &__icon {
        width: 24px;
    }
}
