@use "../atoms/colors.scss" as color;
@use "../atoms/global.scss";

.result-section {
    background-color: color.$accent-background;
    border-bottom: 1px solid color.$neutral-4;
    border-top: 1px solid color.$neutral-4;

    &__wrapper {
        padding: 64px 24px;
        display: flex;
        flex-direction: column;
        align-items: center;

        & > * {
            @include global.row-gap(40px);
        }
    }
}
