@use "../atoms/colors" as color;
@use "../atoms/text_styles" as text;
@use "../atoms/global";

.sidebar {
    max-width: 300px;
    border-right: 1px solid color.$neutral-4;
    background-color: color.$white;
    position: fixed;
    overflow: auto;
    height: 100%;

    &__wrapper {
        padding: 28px 24px;
    }

    &__row {
        margin-bottom: 64px;
        &:last-child {
            margin-bottom: 0;
        }

        &_logo {
            margin-bottom: 42px;
        }
    }
}