@use '../atoms/colors' as color;
@use '../atoms/text_styles' as text;
@use '../atoms/shadows' as shadow;

.button {
  padding: 12px 24px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  user-select: none;
  cursor: pointer;
  @include shadow.button;

  &__icon {
    margin-right: 10px;
  }

  &__text {
    @include text.button;
  }
}