@use "molecules/Button";
@use "molecules/TypePicker";
@use "molecules/CategoryPicker";
@use "molecules/ColorPicker.scss";
@use "molecules/Toggle.scss";
@use "molecules/Logo.scss";
@use "molecules/Link.scss";
@use "headings/H3.scss";
@use "molecules/Section.scss";
@use "molecules/Share.scss";

body {
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  line-height: 0;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	outline: inherit;
}

//for testing
.dev-sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 48px;
  row-gap: 32px;
  max-width: 300px;
  border: 1px solid #d9d9d9;
  padding: 64px 0
}
