@use "molecules/Button";
@use "molecules/TypePicker";
@use "molecules/CategoryPicker";
@use "molecules/ColorPicker.scss";
@use "molecules/Toggle.scss";
@use "molecules/Logo.scss";
@use "molecules/Link.scss";

body {
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  line-height: 0;
}

//for testing

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 48px;
  column-gap: 32px;
}
