@use "molecules/Button";
@use "molecules/TypePicker";
@use "molecules/CategoryPicker";
@use "molecules/ColorPicker.scss";
@use "molecules/Toggle.scss";
@use "molecules/Logo.scss";
@use "molecules/Link.scss";
@use "headings/H1.scss";
@use "headings/H2.scss";
@use "headings/H3.scss";
@use "molecules/Share.scss";
@use "molecules/Result.scss";
@use "molecules/Testimonial.scss";
@use "organisms/SidebarSection.scss";
@use "organisms/Sidebar.scss";
@use "organisms/ResultSection.scss";
@use "organisms/H1Title.scss";
@use "organisms/SidebarDownload.scss";
@use "organisms/Footer.scss";
@use "organisms/H2Title.scss";

@use './atoms/global.scss';

body {
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  line-height: 0;
  margin: 0;
}

button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  outline: inherit;
}

a {
  text-decoration: none;
}

//for testing
.dev-main {
  margin-left: global.$sidebar-width;
  // padding-top: 64px;
}
