@use 'molecules/Button';
@use 'molecules/TypePicker';
@use 'molecules/CategoryPicker';

body {
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
}

//for testing

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 48px;
  column-gap: 32px;
}